EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBDN1Cm5muXEoM1FAxL_wGa7KDeAKUHjro"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="uniecosyncai.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="uniecosyncai"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="uniecosyncai.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="607278126875"
EXPO_PUBLIC_FIREBASE_APP_ID="1:607278126875:web:6324e07bce9f423548a5be"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID="G-6C3YLCWYBN"
